:root {
    --colorBotonesHorizontal: #1c508d;
    /* Variable para el color de los botones */
}

body {
    background-color: silver;
}

.main_administrator {
    height: auto;
    display: grid;
    grid-template-columns: 2fr 3fr 1fr;
}

.main_administrator form {
    background-color: #fff;
    grid-column: 2;
    display: none;
}

.options_admi {
    max-width: 350px;
    margin-left: 25px;
    padding: 0 20px;
    grid-column: 1;
    background-color: #fff;
}

.options_admi h2 {
    margin-bottom: 40px;
}

.opcion_admi li {
    max-width: 250px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 20px;
    background-color: var(--colorBotonesHorizontal);
}

.opcion_admi a {
    font-size: small;
    color: #fff;
}
#data-table{
    background-color: #ccc;
}
#sinbordes{
   border-style: none; 
}
#value-row{
    background-color: #fff;
}

#label_checkbox_group {
    display: inline-block;
}

.checkbox-group label {
    min-width: 150px;
}
#th1{
    border-top: none;
    border-right: none;
}
#th2{
    text-align: start;
    border-top: none;
border-left: none;
}
#form5{
    align-content:center ;
    justify-content: center;
}
#establecer_descuento{
    padding: 20px 0;
    min-height: 200px;
    border: 1px solid #ccc;
    justify-self: center;
    width: 80%;
    display:flex;
    justify-content:space-around;
}
#establecer_descuento p{
    padding: 10px;
    height: 50px;
    max-width: 180px;
    min-width: 100px;
    border:1px solid #ccc;
    background-color: #ebe6e6;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

@media (max-width: 1050px) {
    .main_administrator {
        grid-template-columns: 1fr 2fr;
    }

    .main_administrator form {
        grid-column: 2;
        display: none;
    }
}

.movie-result {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
}