:root{
            --colorBotonesHorizontal: #1c508d;
            /* Variable para el color de los botones */
}

.main_loginRegister {
    position: absolute;
        height: -webkit-fill-available;
        width: -webkit-fill-available;
        width: 100vw;
    padding: 20px;
    margin: auto;
    margin-top: 50px;
}

.main_loginRegister .container {

    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
}

.backBox {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blue(10px);
    background-color: var(--colorBotonesHorizontal);
}
.backBox:hover {
    background-color: #112844;
}

.backBox div {
    margin: 100px 40px;
    color: white;
    transition: all 500ms;
}

.backBox div p,
.backBox button {
    margin-top: 30px;
}

.backBox div h3 {
    font-weight: 400;
    font-size: 26px;
}
.blacBox div p {
    font-size: 16px;
    font-weight: 300;
}

.backBox button {
    padding: 10px 40px;
    border: 2px solid #fff;
    background: transparent;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    color: white;
    transition: all 300ms;
}

.backBox button:hover {
    background: white;
    color: var(--colorBotonesHorizontal);
}


/*Formularios*/
.container_login_register {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 380px;
    position: relative;
    top: -200px;
    left: 10px;
    transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

.container_login_register form {
    width: 100%;
    padding: 20px 20px;
    background: #fff;
    position: absolute;
    border-radius: 20px;
}

.container_login_register form h2 {
    font-size: 26px;
    text-align: center;
    margin-bottom: 20px;
    color: var(--colorBotonesHorizontal);
}

.container_login_register form input {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #f2f2f2;
    font-size: 14px;
}

.container_login_register form button {
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    font-size: 14px;
    background-color: var(--colorBotonesHorizontal);
    font-weight: 600;
    color: white;
    cursor: pointer;
}

.form_login {
    opacity: 1;
    display: block;
}

.form_register {
    display: none;
}
.headerlogin{
    position: absolute;
width: 100%;
height: 100%;
}
form .alerta {
    /* outline: solid 2px #9d2222; */
    color: #9d2222;
}
/* Responsive desing*/
@media screen and (max-width: 900px) {
    .main_loginRegister{
        margin-top: 20px;
    }

    .backBox {

        max-width: 350px;
        height: 250px;
        flex-direction: column;
        margin: auto;
        margin-bottom: 20px;
    }

    .backBox div {
        margin: 0px;
        position: absolute;
    }
        .backBox div h3 {
            font-weight: 400;
            font-size: 26px;
            font-family: system-ui;
        }

    /*forms*/
        .container_login_register {
        top: -50px;
        left: -5px;
        margin: auto;
    }
    .container_login_register form{
        position:relative;
    }
}