:root {
    --colorBotonesHorizontal: #1c508d;
    /* Variable para el color de los botones */
}
h1 {
    color: #1c508d;
    font-size: 24px;
    margin: 0 0 10px 0;
}


.container-ubicacion{
    justify-content: center;
    display: flex;
    position: relative;
    top: 5px; 
    width: 100%;
    text-align: center;
    margin: 0 auto;
}
.container-ubicacion button{
    width: auto;
    height: auto;
    margin: 0 10px 0 40px;
    cursor:pointer;
}
.container-ubicacion p{
    font-weight:600;
    align-content: center;
    margin-right: auto;
    animation: glow 2s infinite alternate;
}
.container-mapa {
    box-sizing: content-box;
    position: relative;
    top: 20px; 
    width: 80%;
    background-color: #cbcbcf;
    padding: 10px;
    border: 1px solid #e1e1e1;
    border-radius: 8px;
    text-align: center;
    margin: 0 auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


#seating-map {
    display: grid;
    grid-template-columns: repeat(10, 30px);
    grid-gap: 10px;
    justify-content: center;
    margin: 10px 0;
}

.seat {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 10px; 
}

.libre {
    
    background-color: #ffff;
  /*  border: 0.8px solid #000000;*/
}

.ocupado {
    background-color: #0000ff;
    cursor: not-allowed;
}

.reservado {
    background-color: #008000;
}

.selected {
    
    background-color: #008000;
}

/* Leyenda organizada en una fila horizontal */
#legend {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    padding: 10px 0;
    gap: 20px; 
}

.legend-item {
    display: flex;
    align-items: center;
    gap: 5px; 
}


.legend-item .seat {
    width: 20px;  
    height: 20px;
}
.screen {
   
    background-color: #1c508d;
    height: 8px;
    width: calc(10 * 30px + 9 * 10px); 
    margin: 0 auto 15px auto; 
    transform: none; 
    box-shadow: 0 3px 10px rgba(80, 83, 230, 0.7);
  }




.purchase-container {
    display: grid;
    top: 50px;
    /* display: flex; */
    justify-content: space-between;
   /* background-color: #fff;*/
    padding: 20px;
   /* border: 1px solid #e1e1e1;*/
    border-radius: 8px;
    width: 80%;
    margin: 0 auto;
    z-index: 3;
}

.purchase-details {
    padding: 8px;
    border-radius: 10px;
    min-width: 280px;
    min-height:250px ;
    position: absolute;
    top: -300px;
    display: none;
    /* position-area:center; */
    border: 3px solid #000;
    color: #fff;
    background-color: var(--colorBotonesHorizontal);
    max-width: 300px;
}
.purchase-details button{
    margin-bottom: 8px;
    justify-self: center;
}

.confirmation-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.confirm-btn {
    background-color: #e1e1e1;
    border: none;
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.confirm-btn.active {
    background-color: var(--colorBotonesHorizontal);
    border: solid 1px silver;
    color: #fff;
}


.location-icon {
    font-size: 18px;
    margin-right: 5px;
}

/* Contenedor para centrar la factura */
/* Contenedor centrado para la factura */

.factura-container {
    justify-self: center;
    position: relative;
    top: 40px; 
    display: flexbox;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    min-width: 600px;
}

.factura {
    justify-self: center;
    width: 100%;
    padding: 12px 20px;
    color: #333;
    text-align: center;
    position: relative;
    justify-content: space-around;
    /* z-index: 10;*/
}


.factura p {
    margin: 0;
    
    color: #333;
}
.factura .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.factura .header span, .descuento{
    padding: 10px;
    border-radius: 25px;
    background-color: #e5e9f1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.total_pagar{
    padding: 10px;
        border-radius: 25px;
    background-color:var(--colorBotonesHorizontal) ;
    color: #fff;
}
@keyframes glow {
    from {
        /* text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.8); */
        text-shadow: 4px 4px 20px rgba(255, 255, 255, 0.8);
    }

    to {
        /* text-shadow: 4px 4px 20px rgba(255, 255, 255, 0.8); */
        text-shadow: 2px 2px 3px var(--colorBotonesHorizontal);
    }
}

