:root {
    --colorBotonesHorizontal: #1c508d;
    /* Variable para el color de los botones */
}

.main_susb {
    display: contents;
}

/* General layout for the promo banner */
.promo-banner {
    caret-color: transparent;
    min-height: 600px;
    height: auto;
    display: block;
    align-items: center;
    justify-content: center;
    /* background: radial-gradient(#F9F9F9 0%, transparent 0%, #000 50%); */
    /* color: var(--colorBotonesHorizontal); */
    color: #fff;
    text-align: center;
    position: relative;
    overflow: hidden;
    background-image: url("../img/cyes3d.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


/* Style for the promo content box */
.promo-content {
    background: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    animation: bounceIn 1.2s ease;
}

/* Title styling with shadow effect */
.promo-title {
    font-size: 4rem;
    font-weight: 800;
    margin: 0;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    animation: glow 2s infinite alternate;
}


@keyframes glow {
    from {
        text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    }

    to {
        /* text-shadow: 4px 4px 20px rgba(255, 255, 255, 0.8); */
        text-shadow: 4px 4px 20px red;
    }
}

/* Text styling */
.promo-text {
    font-size: 1.5rem;
    margin: 10px 0 25px;
    color: #fff;
}

/* Styling for the subscription button */
.subscribe-button {
    width: min-content;
    justify-self: center;
    margin: 50px 0;
}

.subscribe-button p {
    color: #fff;
    -webkit-text-stroke:  #FFFFFA;
        text-shadow: 2px 3px 20px var(--colorBotonesHorizontal);
}

.subscribe-button button {
    background: var(--colorBotonesHorizontal);
    color: #fff;
    font-size: 1.2rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    animation: glow2 2s infinite alternate;
    transition: transform 0.2s, background 0.3s;
    -webkit-text-stroke: 0px black;
}

@keyframes glow2 {
    from {
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    }

    to {
        box-shadow: 4px 4px 20px rgba(255, 255, 255, 0.8);
        /* box-shadow: 4px 4px 20px var(--colorBotonesHorizontal); */
    }
}

.subscribe-button:hover {
    color: #000;
    /* background: var(--colorBotonesHorizontal); */
    transform: scale(1.05);
}

#promo_disfr {
    background-color: rgb(0, 0, 0, 0.5);
    -webkit-text-stroke: 1px var(--colorBotonesHorizontal);
    text-shadow: 2px 3px 15px var(--colorBotonesHorizontal);
    padding-left: 10%;
    text-align: left;
}

#promo_enum {
    background-color: rgb(0, 0, 0, 0.5);
    font-size: 30px;
    margin-left: 1vh;
    display: flex;
    padding-left: 10%;
    /* justify-content:space-around; */
}

#promo_enum h5 {
    -webkit-text-stroke: 1px var(--colorBotonesHorizontal);
    text-shadow: 2px 3px 15px var(--colorBotonesHorizontal);
    padding-left: 15px;
    align-content: center;
}

.non_client {
    background-color: rgb(0, 0, 0, 0.5);
    -webkit-text-stroke: 1px var(--colorBotonesHorizontal);
    margin: 0 10px;
}

.non_client h1 {
    font-size: 30px;
    text-shadow: 2px 3px 15px var(--colorBotonesHorizontal);
    margin: 1.5vh 0;
}

.non_client h2 {
    text-shadow: 2px 3px 15px var(--colorBotonesHorizontal);
    margin: 19px 0px;
}
.non_client #advertDate {
    display: flex;
}
.non_client #advertDate h3{
    height: fit-content;
    background-color: #000;
    border-radius: 50px;
    margin-left: 20px;
    align-content: center;
    align-self: center;
    animation: glow 2s infinite alternate;
}
.non_client #advertDate  .subscribe-button{
    margin: auto;
    background-color: none;
    height: fit-content;
}
/* con suscripcion estilos */
#dates_sus {
    padding-left: 15px;
    text-align: left;
    margin: 10px 0;
}

#text_sus {
    text-wrap-style: balance;
}

@media (min-width: 1400px) {
    .promo-banner {
        height: auto;
    }

    .non_client h1 {
        font-size: 34px;
        margin: 2vh 0;
    }

    #promo_disfr {
        padding-top: 50px;
    }

}